.posts {
  margin-top: 1.5rem;

  table {
    border-collapse: collapse;
    width: 100%;
  }
  td,
  th {
    text-align: center;
    padding: 0.4rem 0.5rem;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  &-upvotes {
    display: flex;
    width: 1.2rem;
    align-items: center;
  
    img {
      margin: 2px;
      margin-top: -2px;
      cursor: pointer;
    }
  }
}

@media (min-width: 768px) {
  .posts{
    &-upvotes {
      display: flex;
      width: 1.2rem;
      align-items: center;
    
      img {
        margin: 3px;
        margin-top: -2px;
        cursor: pointer;
      }
    }
  }
}
