.post-item {
  display: flex;
  flex-direction: column;

  &-section-1 {
    display: flex;
    align-items: center;
  }

  &-section-2 {
    display: flex;
    align-items: center;
  }

  .item {
    margin-left: 0.4rem;
    white-space: nowrap;
  }

  &-title {
    font-size: 0.7rem;
    margin-left: 0.5rem;
    background-color: none;
  }
  &-username {
    span {
      color: gray;
    }
  }
  &-domain {
    color: gray;
  }

  &-hide {
    span {
      color: gray;
      margin: 3px;
      font-weight: normal;

      &:first-child {
        margin-left: 0;
      }
    }
    font-size: 0.75rem;
    font-weight: 700;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0.2rem;
    border: none;
  }
}
@media (min-width: $phone-breakpoint) {
  .post-item {
    display: flex;
    flex-direction: row;
  }
}
